<nav class="f5 f4-m f3-ns fw4 flex flex-column justify-between center">
	<div class="flex flex-row justify-between">
		<a href="/" class="db mt3 mt4-ns link ttu black-80 dim">{{ .Site.Title }}</a>
		{{ $lz_section := (index (split .Dir "/") 0) }}
		<a href="/contact-info" class="db mt3 mt4-ns ttu dim link black-80{{ if (eq $lz_section "contact-info") }} strike{{ end }}">contact/ info</a>
	</div>
	<ul class="list pl0 ma0 flex flex-row justify-between justify-start-ns">
	{{ range .Site.Menus.main }}
		{{ $lz_section := (index (split .URL "/") 1) }}
		{{ $lz_url_section := print $lz_section }}
		<li class="db"><a href="{{ .URL }}" class="pt2 pb1 mr4-ns link dib black-80 dim{{if or ($.IsMenuCurrent "main" .) (eq ($.Scratch.Get "lz_section"|lower) ($lz_url_section|lower)) }} strike{{end}}">{{ .Name }}</a></li>
	{{ end }}
	</ul>
</nav>

